{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}Blogs - healthchecks.io{% endblock %}


{% block content %}
	
	
	<div class="row container-fluid">
		<h2 class="page-header">
			{% if page_title %}
				{{ page_title }}
			{% else %}
				Recent Posts
			{% endif %}
		</h2>
		<nav class="nav navbar navbar-right navbar-inverse">
			<ul class="navbar-nav navbar nav">
				<li><a class="btn-sm" href="{% url 'hc-post-blog' %}">POST BLOG</a></li>
				<li><a class="btn-sm" href="{% url 'hc-blog-drafts' %}">MY DRAFTS</a></li>
			</ul>
		</nav>
	</div>
	<div class="row container-fluid">
		<div id="categories" class="col-sm-2">
			{% for cat in categories %}
				<a href="{% url 'hc-blog-by_cat' id=cat.id %}">{{ cat.name }}</a><br/>
			{% endfor %}
		</div>
		<div id="blogs" class="col-sm-8">
			{% for blog in blogs %}
		       <h3><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
		        <p class="small">Published {{ blog.publish_on }} by {{ blog.author.email }}</p>
		        <p>{{ blog.body|truncatewords:25|linebreaks }}</p>
		        <p>{{ blog.status }}</p>
		    {% endfor %}
		</div>
		<div id="tags" class="col-sm-2">
			
		</div>
	    
    </div>
{% endblock %}